<!DOCTYPE html>
<html>
  <head>
    <title>Water</title>

     <meta property="og:title" content="WaterBnb" />
     <meta property='og:image' content="<%= image_url('Water.png') %>"/>
     <meta property="og:description"
       content="WaterBnb is a clone of Airbnb in which users can search and book listings."
     />
     <meta property="og:url"
       content="https://waterbnb.herokuapp.com/#/"
     />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBEYZTBSCwCgXAotj37hPlQFfojGhLIuOU"%>
    <%= csrf_meta_tags %>    
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
